
.home {
    text-align:center;
    margin-top:none;
    background-color:orange;
}

.home-button-form{
    background-color:green;
    margin:10px;
    padding:20px 40px;
}
.home-button-api{
    background-color:blue;
    margin:10px;
    padding:20px 40px;  
}